


/** Theme customizations */
:root {
    --appVersion: "Castoro v1.0 (Demo)" !important;
    --loginPageBgUrl: url("/web/splashscreen.png") !important;
    --libraryLabelVisibility: block !important;
}

#loginPage {
    background: url("/web/splashscreen.png") !important;
    background-size: cover !important;
}

.dashboardFooter::after {
    content: var(--appVersion) !important;
    font-size: .8em;
    color: #4e4e60;
}

.wizardStartForm, .ui-corner-all, .ui-shadow {
    background: transparent;
}

#wizardStartPage .wizardStartForm h1{
    overflow: hidden;
    height: 0px;
}
#wizardStartPage .wizardStartForm h1:after{
    position: absolute;
    content: "Welcome to Castoro!";
    font-weight: 600;
    font-size: 1em;
    left: 30px;
}

.detailImageContainer .card {
    display: block;
}


/* Logo header */
.MuiListItemIcon-root > img.MuiBox-root{
    content: url("/web/logo.png");
    height: 50px;
}